In [ ]:
#IMPORT REQUIRED PACKAGES

In [78]:
from bs4 import BeautifulSoup 
import requests 
import json 
from io import BytesIO

global href
href = 'https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/uktradegoodsandservicespublicationtables'

In [79]:
def HREF():
    
    global dataset_href 
    
    response = requests.get(href)
    response.raise_for_status()
        
    page_content = BeautifulSoup(response.content, 'html.parser')
    
    script_tag = page_content.find('script', type ='application/ld+json')
    dataset_info = json.loads(script_tag.string)
    dataset_href = dataset_info['distribution'][0]['contentUrl']
    
    
    return

In [80]:
HREF()

In [83]:
def download_data():
    
    HREF()
    
    response1 = requests.get(dataset_href)
    dataset_dict = pd.read_excel(BytesIO(response1.content), sheet_name=None)
    
    return dataset_dict

In [84]:
download_data()

{'Cover sheet':    UK trade: goods and services publication tables, March 2023
 0   Annual, quarterly and monthly estimates on the...
 1              Source: Office for National Statistics
 2                                   Publication dates
 3   The data tables in this spreadsheet were origi...
 4   The next publication will be published at 7:00...
 5                                     Units and notes
 6                    Unit: pound million, (Â£ million)
 7   This publication includes data for current pri...
 8   Data in this publication is seasonally adjuste...
 9   Some cells in the tables refer to notes which ...
 10           Important information about this release
 11  Earliest date to revisions in trade in goods a...
 12  In January 2022 there have been changes to the...
 13  "-" denotes that the percentage change that ca...
 14  "X" Some data have been marked with X in the r...
 15                                More UK Trade data
 16                           Other related trade data
 17                                   Contact details
 18                                  Hannah Donnarumma
 19                                   trade@ons.gov.uk
 20                         Telephone: +44 1329 447648         ,
 'Table of contents':                                    Table of contents   \
 0   This dataset contains 61 data tables in 21 sep...
 1                                            Contents
 2                                               Notes
 3                                         Cover sheet
 4                                      1 - Monthly CP
 5                                    2 - Quarterly CP
 6                                       3 - Annual CP
 7                                     4 - 3 Months CP
 8                                    5 - 12 Months CP
 9                                     6 - Monthly CVM
 10                                  7 - Quarterly CVM
 11                                     8 - Annual CVM
 12                                   9 - 3 Months CVM
 13                                 10 - 12 Months CVM
 14                                  11 - Monthly IDEF
 15                                12 - Quarterly IDEF
 16                                   13 - Annual IDEF
 17                                14 - 3 Months IDEF
 18                               15 - 12 Months IDEF
 19                                  16 - Revisions CP
 20                                 17 - Revisions CVM
 21                               18 - UK Trade in Oil
 22                              19 - Top 50 Countries
 23                            20 - Top 30 Commodities
 24                                21 - Exchange rates

                                            Unnamed: 1
 0                                                 NaN
 1                                     Worksheet title
 2                                               Notes
 3                      Information about this release
 4   UK trade in good and services monthly at curre...
 5   UK trade in good and services quarterly at cur...
 6   UK trade in good and services annual at curren...
 7   UK trade in good and services 3 months ended a...
 8   UK trade in good and services 12 months ended ...
 9   UK trade in good and services monthly at chain...
 10  UK trade in good and services quarterly at cha...
 11  UK trade in good and services annual at chaine...
 12  UK trade in good and services 3 months ended a...
 13  UK trade in good and services 12 months ended ...
 14  UK trade in good and services monthly implied ...
 15  UK trade in good and services quarterly implie...
 16  UK trade in good and services annual implied d...
 17  UK trade in good and services 3 months ended a...
 18  UK trade in good and services 12 months ended ...
 19  UK trade in good and services annual revisions...
 20  UK trade in good and services annual revisions...
 21                                       UK trade oil
 22  UK trade in goods, top 50 export markets and i...
 23  UK trade in goods, top 30 export and imports c...
 24           Selected average sterling exchange rates  ,
 'Notes':                                   Notes  \
 0   This worksheet contains one table.
 1                          Note number
 2                                note 1
 3                                note 2
 4                                note 3
 5                                note 4
 6                                note 5
 7                                note 6
 8                                note 7
 9                                note 8
 10                               note 9
 11                              note 10
 12                              note 11

                                            Unnamed: 1    Unnamed: 2
 0                                                 NaN           NaN
 1                                          Note text          Links
 2   Total EU - Austria, Belgium, Bulgaria, Croatia...           NaN
 3                                      Total less EU.           NaN
 4   EMU Members- Austria, Belgium, Cyprus, Estonia...           NaN
 5   Precious metals includes: Non-Monetary Gold (N...           NaN
 6              CVM Balances are Exports minus Imports           NaN
 7   Trade in petroleum and petroleum products. The...           NaN
 8   Months and quarters for millions tonnes may no...           NaN
 9   The average value per tonne may reflect not on...           NaN
 10  These data are our best estimate of these bila...  UN Comtrade.
 11                              Reference year = 2019           NaN
 12                                 January 2005 = 100           NaN  ,
 '1 - Monthly CP':     1. UK trade in goods and services monthly at current market prices  \
 0    This worksheet contains three tables side by s...
 1    1A. UK trade in goods and services monthly at ...
 2                                               Series
 3                                          Total trade
 4                                          Total trade
 ..                                                 ...
 127                                     Trade in goods
 128                                     Trade in goods
 129                                     Trade in goods
 130                                     Trade in goods
 131                                     Trade in goods

     Unnamed: 1                                         Unnamed: 2  \
 0          NaN                                                NaN
 1          NaN                                                NaN
 2    Direction                                          Commodity
 3      Exports  All commodities, Excluding precious metals [no...
 4      Imports  All commodities, Excluding precious metals [no...
 ..         ...                                                ...
 127    Imports                           Precious metals [note 4]
 128    Balance                           Precious metals [note 4]
 129    Exports                           Precious metals [note 4]
 130    Imports                           Precious metals [note 4]
 131    Balance                           Precious metals [note 4]

           Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
 0                NaN        NaN        NaN        NaN        NaN        NaN
 1                NaN        NaN        NaN        NaN        NaN        NaN
 2               Area  Series ID   1997 Jan   1997 Feb   1997 Mar   1997 Apr
 3        Total World       FSIJ      20817      20429      20048      20774
 4        Total World       FSIG      19572      19415      19888      20387
 ..               ...        ...        ...        ...        ...        ...
 127      EU [note 1]       FSJ4          1          1          1          1
 128      EU [note 1]       FSJ7         -1         -1         -1         -1
 129  Non-EU [note 2]       FSJ9          0          0          0          0
 130  Non-EU [note 2]       FSJ8          7          7          7          7
 131  Non-EU [note 2]       FSK2         -7         -7         -7         -7

     Unnamed: 9  ... Unnamed: 472 Unnamed: 473 Unnamed: 474 Unnamed: 475  \
 0          NaN  ...          NaN          NaN          NaN          NaN
 1          NaN  ...          NaN          NaN          NaN          NaN
 2     1997 May  ...     2022 Jun     2022 Jul     2022 Aug     2022 Sep
 3        20282  ...    -0.021026     0.062151     0.017044    -0.008115
 4        19970  ...    -0.005799     0.010724      0.04977     -0.04495
 ..         ...  ...          ...          ...          ...          ...
 127          1  ...    -0.859813           -1            -            -
 128         -1  ...    -0.858491    -4.133333     4.382979    -0.664032
 129          0  ...            -         1556     2.072575     0.426212
 130          7  ...    -0.687192           -1            -            0
 131         -7  ...    -0.688424     -7.15415     2.070649      0.42648

     Unnamed: 476 Unnamed: 477 Unnamed: 478 Unnamed: 479 Unnamed: 480  \
 0            NaN          NaN          NaN          NaN          NaN
 1            NaN          NaN          NaN          NaN          NaN
 2       2022 Oct     2022 Nov     2022 Dec     2023 Jan     2023 Feb
 3      -0.017657    -0.005152    -0.016126    -0.002767    -0.012702
 4      -0.028203     0.026235     0.022967    -0.073996    -0.015799
 ..           ...          ...          ...          ...          ...
 127            -            -            -            -            0
 128     1.611765     0.072072    -0.726891     1.138462    -0.546763
 129     0.096145    -0.135446    -0.364831    -0.404431    -0.253475
 130            0           -1            -    -0.333333            0
 131     0.096188    -0.135099    -0.365295    -0.404483    -0.253682

     Unnamed: 481
 0            NaN
 1            NaN
 2       2023 Mar
 3      -0.006379
 4      -0.018163
 ..           ...
 127            0
 128    -0.555556
 129    -0.190581
 130           -1
 131    -0.189693

 [132 rows x 482 columns],
 '2 - Quarterly CP':     2. UK trade in goods and services quarterly at current market prices  \
 0    This worksheet contains three tables side by s...
 1    2A. UK trade in goods and services quarterly a...
 2                                               Series
 3                                          Total trade
 4                                          Total trade
 ..                                                 ...
 160                                  Trade in services
 161                                  Trade in services
 162                                  Trade in services
 163                                  Trade in services
 164                                  Trade in services

     Unnamed: 1                                         Unnamed: 2  \
 0          NaN                                                NaN
 1          NaN                                                NaN
 2    Direction                                          Commodity
 3      Exports  All commodities, Excluding precious metals [no...
 4      Imports  All commodities, Excluding precious metals [no...
 ..         ...                                                ...
 160    Imports       Personal, Cultural and Recreational Services
 161    Balance       Personal, Cultural and Recreational Services
 162    Exports                         Government Services, n.i.e
 163    Imports                         Government Services, n.i.e
 164    Balance                         Government Services, n.i.e

       Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
 0            NaN        NaN        NaN        NaN        NaN        NaN
 1            NaN        NaN        NaN        NaN        NaN        NaN
 2           Area  Series ID    1997 Q1    1997 Q2    1997 Q3    1997 Q4
 3    Total World       FSIJ      61294      61223      61239      62115
 4    Total World       FSIG      58875      60750      59572      60921
 ..           ...        ...        ...        ...        ...        ...
 160  Total World       FLQJ        242        250        258        249
 161  Total World       FNRB         59         58         83         96
 162  Total World       FGZA        318        301        294        297
 163  Total World       FLSA        641        482        572        310
 164  Total World       FNRU       -323       -181       -278        -13

     Unnamed: 9  ... Unnamed: 162 Unnamed: 163 Unnamed: 164 Unnamed: 165  \
 0          NaN  ...          NaN          NaN          NaN          NaN
 1          NaN  ...          NaN          NaN          NaN          NaN
 2      1998 Q1  ...      2020 Q4      2021 Q1      2021 Q2      2021 Q3
 3        61501  ...     0.067982    -0.034236     0.062266    -0.017753
 4        61658  ...     0.122501    -0.094712      0.08794     0.054357
 ..         ...  ...          ...          ...          ...          ...
 160        239  ...     0.138158     0.074619     -0.01467     0.023821
 161        128  ...     0.283843     0.184807    -0.072727     -0.01032
 162        304  ...    -0.026016    -0.023372    -0.299145    -0.002439
 163        401  ...    -0.085987      0.04065     0.045759    -0.279616
 164        -97  ...    -0.198777     0.187023     0.694534    -0.495256

     Unnamed: 166 Unnamed: 167 Unnamed: 168 Unnamed: 169 Unnamed: 170  \
 0            NaN          NaN          NaN          NaN          NaN
 1            NaN          NaN          NaN          NaN          NaN
 2        2021 Q4      2022 Q1      2022 Q2      2022 Q3      2022 Q4
 3        0.14081    -0.017797     0.104436     0.070462    -0.026112
 4       0.106398     0.093987     0.087421     0.034772    -0.018132
 ..           ...          ...          ...          ...          ...
 160     0.122637    -0.154577     0.026047    -0.014933    -0.020212
 161     -0.01147    -0.424051    -0.001832     0.141284     0.094855
 162     -0.03423      0.58481    -0.295527    -0.142857      0.12963
 163     0.060741     0.256983     0.071111    -0.092324         0.08
 164     0.206767    -0.146417     0.908759    -0.049713     0.042254

     Unnamed: 171
 0            NaN
 1            NaN
 2        2023 Q1
 3       -0.02566
 4      -0.067543
 ..           ...
 160    -0.021661
 161     0.270191
 162     0.056206
 163     0.042328
 164     0.030888

 [165 rows x 172 columns],
 '3 - Annual CP':     3. UK trade in goods and services annual at current market prices  \
 0    This worksheet contains three tables side by s...
 1    3A. UK trade in goods and services annual at c...
 2                                               Series
 3                                          Total trade
 4                                          Total trade
 ..                                                 ...
 160                                  Trade in services
 161                                  Trade in services
 162                                  Trade in services
 163                                  Trade in services
 164                                  Trade in services

     Unnamed: 1                                         Unnamed: 2  \
 0          NaN                                                NaN
 1          NaN                                                NaN
 2    Direction                                          Commodity
 3      Exports  All commodities, Excluding precious metals [no...
 4      Imports  All commodities, Excluding precious metals [no...
 ..         ...                                                ...
 160    Imports       Personal, Cultural and Recreational Services
 161    Balance       Personal, Cultural and Recreational Services
 162    Exports                         Government Services, n.i.e
 163    Imports                         Government Services, n.i.e
 164    Balance                         Government Services, n.i.e

       Unnamed: 3 Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  \
 0            NaN        NaN         NaN         NaN         NaN         NaN
 1            NaN        NaN         NaN         NaN         NaN         NaN
 2           Area  Series ID      1997.0      1998.0      1999.0      2000.0
 3    Total World       FSIJ    245871.0    244150.0    253323.0    281780.0
 4    Total World       FSIG    240118.0    248528.0    263857.0    295660.0
 ..           ...        ...         ...         ...         ...         ...
 160  Total World       FLQJ       999.0       952.0      1106.0      1767.0
 161  Total World       FNRB       296.0       482.0       410.0       154.0
 162  Total World       FGZA      1210.0      1262.0      1167.0      1364.0
 163  Total World       FLSA      2005.0      1609.0      2406.0      1879.0
 164  Total World       FNRU      -795.0      -347.0     -1239.0      -515.0

      Unnamed: 9  ...  Unnamed: 45  \
 0           NaN  ...          NaN
 1           NaN  ...          NaN
 2        2001.0  ...    Direction
 3      292184.0  ...      Exports
 4      312144.0  ...      Imports
 ..          ...  ...          ...
 160      1642.0  ...      Imports
 161       294.0  ...      Balance
 162      1631.0  ...      Exports
 163      1973.0  ...      Imports
 164      -342.0  ...      Balance

                                            Unnamed: 46  Unnamed: 47  \
 0                                                  NaN          NaN
 1                                                  NaN          NaN
 2                                            Commodity         Area
 3    All commodities, Excluding precious metals [no...  Total World
 4    All commodities, Excluding precious metals [no...  Total World
 ..                                                 ...          ...
 160         Personal, Cultural & Recreational Services  Total World
 161         Personal, Cultural & Recreational Services  Total World
 162                         Government Services, n.i.e  Total World
 163                         Government Services, n.i.e  Total World
 164                         Government Services, n.i.e  Total World

      Unnamed: 48  Unnamed: 49  Unnamed: 50  Unnamed: 51  Unnamed: 52  \
 0            NaN          NaN          NaN          NaN          NaN
 1            NaN          NaN          NaN          NaN          NaN
 2      Series ID  2017.000000  2018.000000  2019.000000  2020.000000
 3           FSIJ     0.119441     0.054611     0.019268    -0.115373
 4           FSIG     0.097586     0.053515     0.024899    -0.166722
 ..           ...          ...          ...          ...          ...
 160         FLQJ     0.083333     0.019188     0.090400     0.041375
 161         FNRB     0.057692    -0.044056    -0.472568     2.869626
 162         FGZA     0.020280    -0.027105     0.064264    -0.111693
 163         FLSA     0.248907    -0.066767    -0.002144    -0.001343
 164         FNRU     1.514286    -0.155844    -0.174038     0.366705

      Unnamed: 53  Unnamed: 54
 0            NaN          NaN
 1            NaN          NaN
 2    2021.000000  2022.000000
 3       0.069660     0.207812
 4       0.118231     0.330867
 ..           ...          ...
 160     0.260493    -0.065648
 161     0.405376    -0.389441
 162    -0.293124     0.040578
 163    -0.133100     0.142680
 164     0.213799     0.271579

 [165 rows x 55 columns],
 '4 - 3 Months CP':     4. UK trade in goods and services 3 months ended at current market prices  \
 0    This worksheet contains three tables side by s...
 1    4A. UK trade in goods and services 3 months en...
 2                                               Series
 3                                          Total trade
 4                                          Total trade
 ..                                                 ...
 127                                     Trade in goods
 128                                     Trade in goods